body { background-color: white }
H1, H2, H3, H4, H5, H6 {
color: black;
font-weight: bold;
font-family: sans-serif }

H1 { font-size: 24pt;}
H2 { font-size: 18pt;}

.description {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	text-decoration:none;
	outline:none;
	color:#000;
}

.address {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	text-decoration:none;
	outline:none;
	color:#000;
}

.list {
	font-family: "Area";
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	text-decoration:none;
	outline:none;
	color:#000;
}

.button {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	text-decoration:none;
	outline:none;
	color:#000;
}

.nav {
    margin: 0;
    padding: 0;
}